@import url('https://fonts.googleapis.com/css?family=Roboto');
/*CSS Reset Begins*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear:both;
}
/*CSS Reset Ends*/

body{
    background-color: rgb(6,33,52);
    color: white;
    font-family: "Roboto",Serif;
}
header{
    width: 98%;
    height: 10%;
    margin: 0 auto;
}
header h1{
    display: inline-block;
    float: left;
    font-size: 40px;
    margin: 1%;
}
h1 span{
    color:rgb(27,152,231);
}
header nav{
    display: inline-block;
    float: right;
    width: 50%;
    margin: 2% 0 2% 0%;
    padding-right: 2%;
    text-align: center;
    
}
header nav a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-left: 10%;
}
nav a:first-child{
    color: rgb(45,95,132);
}
#main{
    width: 98%;
    height: 90%;
    margin: 1%;
    background-color: white;
    overflow:scroll;
}
#mainpic{
    width: 96%;
    height: 50%;
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}
.box{
    width: 25%;
    height: 30%;
    float: left;
    background-color: rgb(24,104,168);
    padding: 3%;
    margin: 0 1%;
    vertical-align: bottom;
}
.box p{
    padding: 2%;
}

#icon{
    width: 10%;
    display: inline-block;
    vertical-align: bottom;
    
}
button{
    font-size: 20px;
    border-radius: 8px;
    color: white;
    width: 50%;
    padding: 2%;
    margin-top: 10%;
    background: linear-gradient(to bottom, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
}
.box h2{
    display: inline-block;
    font-size: 30px;
}
#bottom{
    clear: both;
    width: 100%;
    height: 40%;
}
#bottom h2{
    display: inline-block;
    color: rgb(61,82,97);
    
}
#world{
    float: left;
    padding-left: 1%;
    font-size: 30px;
    margin: 1% 0 1% 0;
}
#testimonial{
    float: right;
    font-size: 30px;
    margin: 1% 18% 1% 0;
}
#building{
    display: inline-block;
    width: 31%;
    margin:  0 1%;
    clear:left;
    float: left;
}
#worldtext{
    display: inline-block;
    width: 31%;
    float: left;
    color: black;
    margin: 0 1%;
}
#worldtext p{
    padding-bottom: 8%;
    color: rgb(112,128,138);
    
}
#worldtext a{
    color: rgb(77,129,165);
    text-decoration: none;
    font-size: 32px;
}
.speech{
    position: relative;
    color: black;
    font-style: italic;
    font-size: 20px;
    display: block;
    float: left;
    width: 25%;
    height: 30%;
    margin: 0 1%;
    background-color: rgb(197,215,231);
    text-align: center;
    padding: 3%;
}
p.speech:before{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: 162px;
  border: 10px solid;
  border-color: #c5d7e7 transparent transparent #c5d7e7;
}
#name{
    color: rgb(135,148,157);
    display: block;
    float: left;
    margin: 3% 1%;
    text-decoration: none;
}
footer{
    height: 12%;
    width: 98%;
    background-color: rgb(218,237,255);
    margin: 1%;
    text-align: center;
    clear:both;
}
footer nav{
    padding: 3%;
}
footer nav a{
    text-decoration: none;
    padding: 2%;
}
footer nav a{
    color: rgb(102,148,183);
}
footer nav a:first-child{
    color: rgb(162,206,239);
}





